<div class="column">
  <div class="row">
    <div class="col-md-12">
      <p>Team older than 10 years(4):</p>
      <button class="btn btn-primary" (click)="show()">Find</button>
    </div>
    <div class="col-md-12" *ngIf="canShow">
      <div *ngFor="let item of data">
        <p>team Id: {{item.teamId}}</p>
        <p>team name: {{item.teamName}}</p>
        <p>Count of users: {{item.users.length}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>
