<div class="container">
  <div class="row justify-content-md-center">
    <h6 class="col-md-12 justify-content-md-center" style="font-size: 50px; text-align: center;">Tasks</h6>
    <button class="btn btn-success" (click)="onAddClicked()">New task</button>
    <div *ngFor="let task of tasks" class="col-md-12 justify-content-md-center item" appTaskDirective [taskStatus]='task.state'>
      <p (click)="itemClicked(task.id)">{{task.name}}</p>
      <p>{{task.description}}</p>
      <div class="bottom-card">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="onEdit(task.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(task.id)">Delete</button>
        </div>
        <p>Created at {{task.createdAt | date}}</p>
      </div>
    </div>
  </div>
</div>
