
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink="/" class="navbar-brand">Angular</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/project" class="nav-item nav-link">Project</a>
            <a routerLink="/task" class="nav-item nav-link">Task</a>
            <a routerLink="/user" class="nav-item nav-link">User</a>
            <a routerLink='/team' class="nav-item nav-link">Team</a>
            <a class="nav-item nav-link" routerLink="/linq/task1">Linq1</a>
            <a class="nav-item nav-link" routerLink="/linq/task2">Linq2</a>
            <a class="nav-item nav-link" routerLink="/linq/task3">Linq3</a>
            <a class="nav-item nav-link" routerLink="/linq/task4">Linq4</a>
            <a class="nav-item nav-link" routerLink="/linq/task5">Linq5</a>
            <a class="nav-item nav-link" routerLink="/linq/task6">Linq6</a>
            <a class="nav-item nav-link" routerLink="/linq/task7">Linq7</a>
            
        </div>
        
    </div>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>
