<div class="container" *ngIf="team">
  <div class="row">
    <div class="col-md-12">
      <h6>Project details</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><span class="bold">Name: </span> {{team.name}}</p>
      <p><span class="bold">Users: </span></p>
      <div class="users-detail" *ngIf="team.users">
        <ul>
          <li  *ngFor="let user of team.users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
      </div>
      <p><span class="bold" *ngIf="team.projects">Team contains {{team.projects.length}} projects</span></p>
      <div class="projects-tasks" *ngIf="team.projects">
        <ul>
          <li  *ngFor="let project of team.projects">{{project.name}}</li>
        </ul>
      </div>  
    </div>
  </div>
</div>

<div class="container" *ngIf="team === null">
  <div class="row">
    <div class="col-md-12">
      <h6>Sorry! We can not show you detailed info right now. So sad :(</h6>
    </div>
  </div>
</div>