.col-md-12 > p {
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

h6 {
    text-align: center;
    font-size: 35px;
}

.users-detail,
.projects-tasks {
    padding-left: 100px;
    font-size: 25px;
}

.bold {
    font-weight: bold;
}