<div class="container">
  <div class="row justify-content-md-center">
    <h6 class="col-md-12 justify-content-md-center" style="font-size: 50px; text-align: center;">Teams</h6>
    <button class="btn btn-success" (click)="onAddClicked()">New team</button>
    <div *ngFor="let team of teams" class="col-md-12 justify-content-md-center item">
      <p (click)="itemClicked(team.id)">{{team.name}}</p>
      <div class="bottom-card">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="onEdit(team.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(team.id)">Delete</button>
        </div>
        <p>Created at {{team.createdAt | date}}</p>
      </div>
    </div>
  </div>
</div>
