<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formProject" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Project name:</label>
          <input class="form-control" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label>Project description:</label>
          <textarea class="form-control" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Deadline:</label>
          <input class="form-control" type="date" formControlName="deadline">
        </div>
        <button class="btn btn-success" type="submit" [disabled]="this.formProject.invalid" *ngIf="!isEdit">Add</button>
        <button class="btn btn-success" type="submit" [disabled]="this.formProject.invalid" *ngIf="isEdit">Edit</button>
      </form>
    </div>
  </div>
</div>
