<div class="column">
  <div class="row">
    <div class="col-md-12">
      <p>User id(6):</p>
      <input class="form-control" type="number" #id>
      <button class="btn btn-primary" (click)="show(id.value)">Find</button>
    </div>
    <div class="col-md-12" *ngIf="canShow">
      <div *ngFor="let item of data">
        <p>User name: {{item.user.firstName}}</p>
        <p>Project name: {{item.project.name}}</p>
        <p>Count of tasks: {{item.countOfTasks}}</p>
        <p>Longest task name: {{item.longestTask.name}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>