<div class="column">
  <div class="row">
    <div class="col-md-12">
      <p>Task 7</p>
      <button class="btn btn-primary" (click)="show()">Find</button>
    </div>
    <div class="col-md-12" *ngIf="canShow">
      <div *ngFor="let item of data">
        <p>Users count: {{item.countOfUSers}}</p>
        <p>Project name: {{item.project.name}}</p>
        <p>Longest task name: {{item.longestTask.name}}</p>
        <p>Shortest task name: {{item.shortestTask}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>