<div class="column">
  <div class="row">
    <div class="col-md-12">
      <p>User and task(5):</p>

      <button class="btn btn-primary" (click)="show()">Find</button>
    </div>
    <div class="col-md-12" *ngIf="canShow">
      <div *ngFor="let item of data">
        <p>User: {{item.user.firstName}} {{item.user.lastName}}</p>
        <p>Task count: {{item.tasks.length}}</p>
        <hr>
      </div>
    </div>
  </div>
</div>