<div class="container">
  <div class="row justify-content-md-center">
    <h6 class="col-md-12 justify-content-md-center" style="font-size: 50px; text-align: center;">Projects</h6>
    <button class="btn btn-success" (click)="onAddClicked()">New project</button>
    <div *ngFor="let project of projects" class="col-md-12 justify-content-md-center item">
      <p (click)="itemClicked(project.id)">{{project.name}}</p>
      <p>{{project.description}}</p>
      <div class="bottom-card">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="onEdit(project.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(project.id)">Delete</button>
        </div>
        
        <p>Created at {{project.createdAt | language }}</p> <!--Here create own pipe-->
      </div>
    </div>
  </div>
</div>
