.item {
    margin-top: 5px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.item p:first-child {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.bottom-card p {
    text-align: right;
    font: italic;
    font-size: 15px;
}

.bottom-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}