<div class="container">
  <div class="row justify-content-md-center">
    <h6 class="col-md-12 justify-content-md-center" style="font-size: 50px; text-align: center;">Users</h6>
    <button class="btn btn-success" (click)="onAddClicked()">New user</button>
    <div *ngFor="let user of users" class="col-md-12 justify-content-md-center item">
      <p (click)="itemClicked(user.id)">{{user.firstName}}  {{user.lastName}}</p>
      <p *ngIf="user.emailAddress !==null">Email: {{user.emailAddress}}</p>
      <p *ngIf="user.emailAddress === null">Email: default email</p>
      <div class="bottom-card">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="onEdit(user.id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="onDelete(user.id)">Delete</button>
        </div>
        
        <p>Birthday: {{user.birthdayDate | date}}</p>
      </div>
    </div>
  </div>
</div>
