<div class="container" *ngIf="task">
  <div class="row">
    <div class="col-md-12">
      <h6>Project details</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><span class="bold">Name: </span> {{task.name}}</p>
      <p> <span class="bold">Description: </span>{{task.description}}</p>
      <p><span class="bold">Performer: </span></p>
      <div class="author-detail" *ngIf="task.performer">
        <p>Author name: {{task.performer.firstName}}</p>
        <p>Author last name: {{task.performer.lastName}}</p>
      </div>
      <p><span class="bold" *ngIf="task.project">Project info</span></p>
      <div class="project-tasks" *ngIf="task.project">
        <p>Name: {{task.project.name}}</p>
        <p>Description: {{task.project.description}}</p>
      </div>
      <p><span class="bold">Status</span></p>
      <div class="project-team">
        <p>Status: {{task.state}}</p>
      </div>    
    </div>
  </div>
</div>

<div class="container" *ngIf="task === null">
  <div class="row">
    <div class="col-md-12">
      <h6>Sorry! We can not show you detailed info right now. So sad :(</h6>
    </div>
  </div>
</div>