<div class="column">
  <div class="row">
    <div class="col-md-12">
      <p>User id:</p>
      <input class="form-control" type="number" #id>
      <button class="btn btn-primary" (click)="show(id.value)">Find</button>
    </div>
    <div class="col-md-12" *ngIf="canShow">
      <div *ngFor="let item of data">
        <p>Project name: {{item.project.name}}, count: {{item.countOfTasks}}</p>
      </div>
    </div>
  </div>
</div>