<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formTeam" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Team name:</label>
          <input class="form-control" type="text" formControlName="name">
        </div>
       
        <button class="btn btn-success" type="submit" [disabled]="this.formTeam.invalid" *ngIf="!isEdit">Add</button>
        <button class="btn btn-success" type="submit" [disabled]="this.formTeam.invalid" *ngIf="isEdit">Edit</button>
      </form>
    </div>
  </div>
</div>
