<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>User name:</label>
          <input class="form-control" type="text" formControlName="firstName">
        </div>
        <div class="form-group">
          <label>User last name:</label>
          <input class="form-control" type="text" formControlName="lastName">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input class="form-control" type="email" formControlName="email">
        </div>
        <button class="btn btn-success" type="submit" [disabled]="this.formUser.invalid" *ngIf="!isEdit">Add</button>
        <button class="btn btn-success" type="submit" [disabled]="this.formUser.invalid" *ngIf="isEdit">Edit</button>
      </form>
    </div>
    </div>
</div>