<div class="container" *ngIf="proj">
  <div class="row">
    <div class="col-md-12" (click)="change()">
      <h6>Project details</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><span class="bold">Name: </span> {{proj.name}}</p>
      <p> <span class="bold">Description: </span>{{proj.description}}</p>
      <p><span class="bold">Author: </span></p>
      <div class="author-detail" *ngIf="proj.author">
        <p>Author name: {{proj.author.firstName}}</p>
        <p>Author last name: {{proj.author.lastName}}</p>
      </div>
      <p><span class="bold" *ngIf="proj.tasks">Project contains {{proj.tasks.length}} tasks</span></p>
      <div class="project-tasks" *ngIf="proj.tasks">
        <ul>
          <li  *ngFor="let task of proj.tasks">{{task.name}}</li>
        </ul>
      </div>
      <p><span class="bold">Team</span></p>
      <div class="project-team" *ngIf="proj.team">
        <p>Name: {{proj.team.name}}</p>
      </div>    
    </div>
  </div>
</div>

<div class="container" *ngIf="proj === null">
  <div class="row">
    <div class="col-md-12">
      <h6>Sorry! We can not show you detailed info right now. So sad :(</h6>
    </div>
  </div>
</div>