<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Task name:</label>
          <input class="form-control" type="text" formControlName="name">
        </div>
        <div class="form-group">
          <label>Task description:</label>
          <textarea class="form-control" type="text" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>State:</label>
          <select class="custom-select"  formControlName="state">
            <option value="" disabled>Choose state</option>
            <option *ngFor="let state of states" [ngValue]="state">{{statesName[state]}}</option>
         </select>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="this.taskForm.invalid" *ngIf="!isEdit">Add</button>
        <button class="btn btn-success" type="submit" [disabled]="this.taskForm.invalid" *ngIf="isEdit">Edit</button>
      </form>
    </div>
  </div>
</div>
