<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-md-12">
      <h6>User details</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><span class="bold">First name: </span> {{user.firstName}}</p>
      <p> <span class="bold">Last name: </span>{{user.lastName}}</p>
      <p><span class="bold">Team: </span></p>
      <div class="team-detail" *ngIf="user.team">
        <p>Name: {{user.team.name}}</p>
      </div>
      <p><span class="bold" *ngIf="user.tasks">User has {{user.tasks.length}} tasks</span></p>
      <div class="task-container" *ngIf="user.tasks">
        <ul>
          <li  *ngFor="let task of user.tasks">{{task.name}}</li>
        </ul>
      </div>
      <p><span class="bold" *ngIf="user.projects">User has {{user.projects.length}} projects</span></p>
      <div class="project-container" *ngIf="user.projects">
        <ul>
          <li *ngFor="let project of user.projects">Name: {{project.name}}</li>
        </ul>
      </div>    
    </div>
  </div>
</div>

<div class="container" *ngIf="user === null">
  <div class="row">
    <div class="col-md-12">
      <h6>Sorry! We can not show you detailed info right now. So sad :(</h6>
    </div>
  </div>
</div>